*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    
}

html body{
    height: 100%;
    width: 100%;
    
  
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  
}

@keyframes floatOption {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
#part1{
    height: fit-content;
    width: fit-content;
    margin-top: 50%;
    margin-right: 15%;
    position: absolute;
}
#part2{
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-top:50%;
    margin-left: 15%;
   
   
}
.level1 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level1:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level2 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level2:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level3 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level3:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level4 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level4:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level5 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level5:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level6 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level6:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level7 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level7:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level8 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level8:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level9 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level9:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
.level10 {
    width: 150px;
    height: 65px;
    background-color: rgb(247, 10, 10);
    border: 5px solid #f3c80d;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.2s;
    font-weight: bolder;transition: background-color 0.3s ease;
    animation: floatOption 2s ease infinite;
}
.level10:hover {
    background-color: rgb(34, 137, 255);
    border:5px solid orangered;
}
#setting1-button {
    position: absolute;
    top: 10px; 
    left: 10px; 
    width: 35px;
    height: 35px;
}
